<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
                <script type="text/javascript" src="js/jquery.js"></script>
		#}
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{#- css #}{# include "public/css/style.css" #}{# endcss #}

		<link rel="stylesheet" type="text/css" href="/css/style.css">

		{#- Or add from node_modules #}
		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
<div id="wrapper">

		<header id='header'>
			<a href="/" class="logo home-link">{{ metadata.title }}</a>
 			<p class="usr">souly’s coding-for-trading solutions </p>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
<div class="menuwrapp">
				<ul class="menu">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item menu-item 
          {% if entry.url == page.url %} current-menu-item{% endif %}"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
 </div>
                                        <div class="menuwrapp_mobile">
<a class="mobilemenu_toggle" href="#">Menu</a>
<ul class="menu_mobile">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item menu-item 
          {% if entry.url == page.url %} current-menu-item{% endif %}"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
 </div>

			</nav>
	
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>
<footer id="footer">
			<div class="gotopwrapp">
					<div class="fullwidth">
					    <p class="footer_text">Copyright © 2010-2024 soulytion.de</p>
						<p class="footer_text textright">Theme created by <a href="http://www.pwtthemes.com/">PWT</a>. Powered by <a href="https://11ty.dev/">11ty</a></p>
					</div>
				</div>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
<script type="text/javascript" src="/js/main.js"></script>
</div?

	</body>
</html>
